<p><%= link_to 'New User', new_users_path %></p>
<p><%= link_to 'Login', new_sessions_path %></p>

<h1>Rainforest Homepage</h1>

<%
def user_is_logged_in
  false
end
%>

<% if user_is_logged_in() %>
  <p><%= link_to 'Logout', sessions_path %></p>

  <p>You have X credits!</p>
<% else %>
  Please login to see your balance.
<% end %>
